body {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
    color: #d404cc8a;
    text-align: center;
    font-size: 50px;
    font: weight 800px;
}

nav li {
    display: inline-block;
    padding: 2em;
}

nav li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {
    text-decoration: none;
    background: gray;
    color:#fff;
}
nav ul {
    padding: 0px;
}

footer::before, footer::after {
    font-weight: bold;content: '/';
    color: #D40404;
    font-size: 30px;
    font-weight: bold;
}

img {width: 100%;}